<%- include('./header.ejs') %>
  <div class="row mx-0 flex-nowrap">
    <%- include('./nav.ejs') %>
      <div class="col py-3">
        <div class="d-flex justify-content-between mb-3">
          <h1>
            <%= market %>
          </h1>
          <a href="/market/create" class="btn btn-outline-primary" style="line-height: 2.2" type="button">
            <%= create %>
              <%= market %>
          </a>
        </div>

        <table class="table table-bordered table-hover">
          <thead class="bg-primary text-white">
            <tr>
              <th>語系</th>
              <th>標題</th>
              <th>展示時間</th>
              <th>創建時間</th>
              <th>更新時間</th>
              <th>工具</th>
            </tr>
          </thead>
          <tbody>
            <% data.map((each)=> { %>
              <tr>
                <td class="text-nowrap">
                  <%= each.lang %>
                </td class="text-nowrap">
                <td>
                  <%= each.title %>
                </td>
                <td>
                  <%= each.showTime %>
                </td>
                <td>
                  <%= each.createTime %>
                </td>
                <td>
                  <%= each.updateTime %>
                </td>
                <td>
                  <a href="/market/update/<%= each.id %>" type="button" class="btn btn-outline-success">
                    編輯
                  </a>
                  <a href="/market/delete/<%= each.id %>" type="button" class="btn btn-outline-danger">
                    刪除
                  </a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
  </div>
  <%- include('./footer.ejs') %>